body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0px;
	padding:0px;
}


ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:190px;
	margin:0 auto;
	padding:50px;
}

li{
	list-style:none;
	text-align:left;
}

li.menu{
	/* The main list elements */
	padding:5px 0;
	width:100%;
}

li.button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:1em;
	height:2.1em;
	overflow:hidden;
	padding:0px 20px 0;
	position:relative;
	width:auto;
}
li.button a span{
	/* This span acts as the right part of the section's background */
	height:48px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* Setting up different styles for each section color */

li.button a.blue{
     
     background-color:rgba(1, 55, 68, 0.41); 
     color:#FFF;
     text-align: center;
     display: block;
     line-height: 34px;
     height: 35px;
     position: relative;
list-style-type: none;

}


/* The hover effects */

li.button a:hover{ background-color:rgba(1, 55, 68, 0.79);}
li.button a:hover span{ background-color:rgba(1, 55, 68, 0.79);}

.dropdown{
	/* The expandable lists */
	display:none;
	padding-top:4px;
	width:100%;
    overflow: auto;
}

.dropdown li{
	/* Each element in the expandable list */
	 border:1px solid #7e7e31;
	 margin:5px 0;
     text-align: center;
     text-overflow:ellipsis;
     
     
     display: block;
     line-height: 22px;
     position: relative;
     background-color: #83A88B;
     color: #FFF;
     list-style-type: none;
}
/* The styles below are only necessary for the demo page */



.clear{
	clear:both;
}
a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;

}


