@CHARSET "ISO-8859-1";
/* CSS layout pagina */
 #menuBar {
 width: 99%; 
 float: right; 
 }
#log_but{
    float:right;
    margin-right: 1em;
    margin-top: 0.3em;
    color: #afdefa;
}
#logo{
position: relative;
/*float: left;*/
}


.col-lg-6{ /* classe della searchBar */
     position: relative;
     float: right;
}

.jumbotron{
     padding: 1em 0;
     background-color: rgba(229, 184, 125, 0.52);
     margin-top:15px;
}

#mainArea{
	width: auto;
	height: 34.06em;
	font-size: 0.87em;
	padding: 0.31em 0.31em;
     
	
}

#tabs > li {
    position:relative;  
     
}

#tabs > li > a {
    display:inline-block;
}

#tabs > li > span { /* css della croce di rimozione tab*/
    display:none;
    cursor:pointer;
    position:absolute;
    right: 0.37em;
    top: 0.5em;
    color: red;
}

#tabs > li:hover > span {
    display: inline-block;
}
#contentmain{
    background-color: floralwhite;
    height: 34.06em;
    overflow: auto;
}
.tab-pane{
     /*overflow-y: scroll;*/
}
body {
    background-color: #ffffff;
     
}
