@CHARSET "ISO-8859-1";
/* CSS layout pagina */
 #menuBar {
 width: 99%; 
 float: right; 
 }
#log_but{

    margin-right: 1em;
    margin-top: 0.3em;
    color: #afdefa;
}
#images{
position:inherit;
/*float: left;*/
}


.col-lg-6{ /* classe della searchBar */
     position: relative;
     float: right;
}

.menu-laterale{
/*background-color: rgba(241, 218, 187, 0.99);*/
background-image:url(/pattern8.png);
     opacity: 0.8;
}
.menu-login{
     max-height:30em;
     max-width: 10em;

    

}

.jumbotron{
     padding: 1em 0;
    //*background-color: rgba(229, 184, 125, 0.52);*/
    /* margin-top:1em;*/
     margin-bottom: 1em ;
}

#mainArea{
	width: auto;
	height: 35em;
	/*font-size: 0.87em;
	*/
     margin-left: 10px;
     
	
}

#tabs{
     
}
#tabs > li {
    position:relative;  
      text-overflow:ellipsis;
}

#tabs > li > a {
    display:inline-block;
     padding: 2px 11px;
}
.tab-content{

overflow-x: hidden;
}
#tabs > li > span { /* css della croce di rimozione tab*/
    display:none;
    cursor:pointer;
    position:absolute;
    right: 0.37em;
    top: 0.5em;
    color: red;
}

#tabs > li:hover > span {
    display: inline-block;
}
#contentmain{
    height: 100%;
     width:100%;
    float:right;
    overflow-y: auto;
     font-size:1em;
}
.tab-pane{
    margin-left: 15px;
     /*overflow-y: scroll;*/
}
body {
    /*background-color: #E1E3E4;  */ 
}

.edit-denotesRethoric {
	padding: 2px;
	border: dotted #d58512; 3px;			
}
.edit-hasComment {
	background-color: #7be0fe;	
	color: white;		
}
.edit-cites {
	background-color: #77d477;			
	color: white;		
}
